<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BNBLE - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" href="/css/boostrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" 
    integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {%  include 'admin/partials/header.html.twig' %}

        {% block body %}{% endblock %}
        
         {%  include 'admin/partials/footer.html.twig' %}

         {# javaScript #}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/boostrap.min.js"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
